[submodule "gw2auth.com-ui"]
	path = gw2auth.com-ui
	url = git@github.com:gw2auth/gw2auth.com-ui.git
[submodule "gw2auth.com-cdk"]
	path = gw2auth.com-cdk
	url = git@github.com:gw2auth/gw2auth.com-cdk.git
[submodule "gw2auth.com-api"]
	path = gw2auth.com-api
	url = git@github.com:gw2auth/gw2auth.com-api.git
[submodule "opentelemetry-lambda"]
	path = opentelemetry-lambda
	url = git@github.com:open-telemetry/opentelemetry-lambda.git
[submodule "oauth2-server"]
	path = oauth2-server
	url = git@github.com:gw2auth/oauth2-server.git
