name: 'FF Merge'

on:
  workflow_dispatch:
    inputs:
      target_branch:
        description: 'Target branch'
        required: true
        type: string
        default: 'main'
      source_branch:
        description: 'Source branch'
        required: true
        type: string
        default: 'beta'

jobs:
  merge:
    name: 'Merge'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.target_branch }}
          fetch-depth: 0
      - name: 'Merge'
        run: 'git merge --ff-only "origin/${{ inputs.source_branch }}"'
      - name: 'Push'
        run: 'git push "https://${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git" "${{ inputs.target_branch }}"'
